
.related-box {
  margin-bottom: 30px;
}

.related-box__items {
  display: flex;
}

.related-box__item {
  width: 31%;
  margin-left: 3%;
}

.related-box__item:first-child {
  margin-left: 0;
}

.related-box__img-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
}

.related-box__name {
  height: 3em;
  text-align: center;
}

.related-box__item-img {
  width: 100%;
}

.related-box__pagination {
  height: 60px;
  padding: 20px 10px;
  border-top: 1px solid #444;
}

.related-box__pagination .paginate-container {
  display: flex;
  justify-content: center;
}