.simplePagination {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.btn {
  cursor: pointer;
  padding: 12px;
  font-size: 20px;
  user-select: none;
}

.btnText {
  user-select: none;
}