/* base */
*,
*::before,
*::after {
    box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  min-height: auto;
  // height: 100%;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

button, select, input, textarea {
  outline: none;
}

figure {
  margin: 0;
}

img {
  display: block;
}

label {
  display: none;
}


/* ---------------- */
/* ---------------- */
/* ---------------- */
.item-list {
  margin-bottom: 1rem;
}

.item-list .list-group-item {
  cursor: pointer;
}

.item-list .list-group-item:hover {
  background-color: #444;
}

.catalog-card {
  flex: 0 0 20%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 20%;
}

.card-box {
  margin-bottom: 30px;
}

.main-card {
  // opacity: 1;
  transition: opacity .3s;

  .card-body {
    text-transform: uppercase;
  }

  .card-title {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }

  &:hover {
    // opacity: .7;
  }
}

.main-card-2 {
  box-shadow: 0 0 30px rgba(#f6a113, .15);
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s;

  .card-title {
    letter-spacing: 0em;
    transition: letter-spacing  0.3s;
  }

  .pic-box {
    height: 200px;
    overflow: hidden;

    img {
      transform: scale(1);
      transition: transform  0.3s;
    }
  }

  &:hover {
    box-shadow: 0 0 30px rgba(#f6a113, .25);

    .card-title {
      color: #00bc8c;
      letter-spacing: 0.02em;
    }

    .pic-box {
      img {
        transform: scale(1.01);
      }
    }
  }
}

.header-row {
  margin-bottom: -30px;
}

/* ---------------- */
/* ---------------- */
/* ---------------- */


html {
  background: #222 url(../../assets/images/stardust.png) repeat;
}

body {
  background: transparent;
}


.logo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.button-row {
  margin: 0 0 1rem 0;
}

.button-row button {
  margin-right: 1rem;
}

.login-row {

}

ul.pagination {

}
ul.pagination .page-item {
  cursor: pointer;
  user-select: none;
}

ul.pagination .page-item.disabled {
  cursor: default;
}